.DS_Store
Thumbs.db
*.log


.env
**/.env
*.env
*.pem
*.key
server_vps/aegis_core.db  # O banco de dados não deve subir (é local)
*.sqlite3
*.db


__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/
.pytest_cache/


.vscode/
.idea/
*.swp
*.swo


.gradle/
build/
**/build/
!src/**/build/

local.properties
sdk.dir
ndk.dir

*.iml
.navigation/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_

*.jks
*.keystore